body {
  background: #f1f3f6;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  box-shadow: 10px 10px 30px #c1c9d2, -10px -10px 30px #ffffff;
  border-radius: 20px;
  overflow: hidden;
  color: #1f1f2b;
  background: #f1f3f6;
}

input {
  width: 200px;
  text-align: center;
  padding: 10px;
  font-size: 1.7rem;
  background: #e0e5ec;
  outline: none;
  border: none;
  box-shadow: inset 5px 5px 10px #c1c9d2, inset -5px -5px 10px #ffffff;
}

.options {
  display: flex;
  flex-direction: column;
  background: #f1f3f6;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #c1c9d2, -5px -5px 10px #ffffff;
}

.options label {
  background: #e0e5ec;
  color: #1f1f2b;
  text-align: center;
  margin: 5px 0;
  padding: 8px 12px;
  transition: .3s;
  border-radius: 10px;
  box-shadow: inset 3px 3px 5px #c1c9d2, inset -3px -3px 5px #ffffff;
  cursor: pointer;
}

.select {
  text-align: center;
  display: block;
  background: #e0e5ec;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #c1c9d2, -5px -5px 10px #ffffff;
}

.select:hover, .options label:hover {
  transform: translate(2px, 2px);
  box-shadow: inset 3px 3px 5px #c1c9d2, inset -3px -3px 5px #ffffff, 7px 7px 15px #c1c9d2, -7px -7px 15px #ffffff;
}